<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <%= t(:following, scope:'user_follow',count: @user.following.count) %>
  </a>
  <a href="<%= followers_user_path(@user) %>">
<%= t(:follower, scope:'user_follow',count: @user.followers.count) %>
  </a>
</div>
